<!DOCTYPE html>
<html>
<head>
    <script src="https://kit.fontawesome.com/1e2f137380.js" crossorigin="anonymous"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Meal", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "ViewHome", "Home")</li>
                    <li>@Html.ActionLink("Cart", "ShowToCart", "ShoppingCart")</li>
                    <li>@Html.ActionLink("OrderDetails", "Index", "OrderDetails")</li>
                    <li>@Html.ActionLink("Order", "Index", "Order")</li>
                    <li>@Html.ActionLink("Customers", "ViewCustomers", "Customer")</li>
                    <li>
                        @Html.ActionLink("Admin", "Index", "Meal")
                    </li>
                </ul>
            </div>

            
           


            <div style="margin-left:75%; display:block; margin-bottom:-1%">

                @if (Session["NameSS"] != null)
                {
                    <div style="float:left; margin-right:30%">
                        <p style="color:royalblue ;"><i class="fas fa-user"></i> Hello @Session["NameSS"]</p>
                    </div>

                    <a href="@Url.Action("Logout","Login")">Logout</a>
                    <a href="@Url.Action("Signup", "Login")">Register</a>
                    @Html.ActionLink("Logout", "Login")

                }
                else
                {
                    <div style="">
                        @Html.ActionLink("Register", "Signup")
                        @Html.ActionLink("Login", "login", "Login")

                    </div>

                }


            </div>
        </div>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>
        </div>
    </div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/Scripts.js"></script>
    <script src="~/Scripts/notify.min.js"></script>
</body>
</html>
